# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# If git is used inside frontend by mistake
node_modules/
dist/
.vite/

# Env
.env
.env.local
.env.*.local